{{#partial "title"}}News{{/partial}}
{{#partial "content"}}

    {{#if generalnews}}
        <div class="col-md-6">
            <h3>General News</h3>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Name</th>

                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                {{#each generalnews}}
                    <tr>
                        <td>{{title}}</td>

                        <td>{{content}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if departments}}
        <div class="col-md-6">
            <h3>Departments</h3>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Name</th>

                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each departments}}
                    <tr>
                        <td>{{departmentName}}</td>

                        <td>{{description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if users}}
        <div class="col-md-6">
            <h3>User</h3>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Name</th>

                    <th scope="col">Position</th>

                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{name}}</td>

                        <td>{{userPosition}}</td>

                        <td>{{role}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if departmentNews}}
        <div class="col-md-6">
            <h3>Department News</h3>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Title</th>

                    <th scope="col">Content</th>

                    <th scope="col">Department Id</th>
                </tr>
                </thead>
                <tbody>
                {{#each departmentNews}}
                    <tr>
                        <td>{{title}}</td>

                        <td>{{content}}</td>

                        <td>{{departmentId}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

{{/partial}}
{{> layout.hbs}}